*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,  sans-serif, times new roman, open sans,  segoe ui;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.295);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
}
nav{
    height: 8.5vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 5vw 8.5vw;
    gap: 2vw;
    position: fixed;
    color: white;
    z-index: 999;
}
#nav img{
    height: 9vw;
    width: 7vw;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }
#page1-content{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1-content h1{
    font-size: 7vw;
    text-wrap: nowrap;
    font-weight: 800;
    position: relative;
}
#page1-content h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4%;
    left: -0.6%;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1-content h3{
    font-size: 1.8vw;
    text-wrap: nowrap;
    font-weight: 800;
    /* margin-top: 1.8vw; */
}
#page1-content h5{
    font-size: 1.5vw;
    font-weight: 500;
    width: 50%;
    text-align: center;
    margin-top: 1vw;
    line-height: 2vw;
}
/*CURSOR*/
#cursor{
    height: 25px;
    width: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all ease linear 3s;
}
#cursor-blur{
    height: 200px;
    width: 200px;
    background-color: #96c11e83;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(45px);
    transition: all ease linear 10s;
}
/*PAGE 2*/
#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
}
/*SCROLLER TEXT*/
#scroller-container{
    height: 50%;
    width: 100%;
    color: white;
    white-space: nowrap;   /*ADD THIS*/
    font-size: 7vw;
    overflow-x: auto;       /*TO HIDE TEXT*/
    overflow-y:hidden ;     /*TO HIDE TEXT*/
    position: relative; /*for hover- effect*/      
    z-index: 10; /*for hover- effect*/
}
#scroller-container::-webkit-scrollbar{
    display: none;      /*TO REMOVE THE SCROLL BAR*/
}
#scroller-1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
#scroller-1 h4{
    display: inline-block;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    
}
#scroller-1 h4:hover{
    color: #95C11E;
    z-index: 11;
    -webkit-text-stroke: 2px #95C11E;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
/*SCROLLER TEXT ENDED*/
/*ABOUT US START*/
#about-us{
    height:70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 6vw 4vw;
    color: #fff;
    /* background-color: rgb(217, 124, 124); */
}
#about-us h1 {
    font-weight: 900;
}
#about-us p{
    margin-top: 2.5vw;
    font-size: 1.2vw;
}
#img1{
    height: 40vh;
    width: 40vh;
    object-fit: cover;
    object-position: center;
}
#img2{
    height: 50vh;
    width: 35vh;
    object-fit: cover;
    object-position: center;
}
#abt{
    text-align: center;
    width: 50%;
}
/*ABOUT US ENDS*/
/*CARDS START*/
#cards{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 10vw;
    position: relative;
    z-index: 10;
    /* background-color: red; */
}
/* #cards img{
    height:65%;
    width: 30%;
    border-radius: 1vw;
    object-fit: cover;
    object-position: center;
    gap: 1.5vw;
} */
.card{
    height:65%;
    width: 30%;
    border-radius: 1vw;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all ease 0.2s;
}
#card1{
    background-image: url(https://images.unsplash.com/photo-1718046881147-0e3b12ec35f3?q=80&w=1882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#card2{
    background-image: url(https://images.unsplash.com/photo-1718112131885-8089da6ebd46?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#card3{
    background-image: url(https://images.unsplash.com/photo-1718227695331-eb3ef0e53c66?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding-top: 8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    opacity: 0;
    transition: all ease 0.2s;
}
.card:hover .overlay{
    opacity: 1;
}
.overlay h4{
    font-size: 1.8vw;
    font-weight: 800;
    text-transform: uppercase;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#band{
    height: 45vh;
    width: 100%;
    background: linear-gradient(to left bottom,#2AA635,#ABDE23);
    display: flex;
    justify-content: space-between;
}
#band h1{
    font-weight: 800;
    text-align: center;
    line-height: 3vw;
    position: relative;
    top: 25%;
    font-size: 2vw;
}
#band img{
    height: 100%;
    width: 13%;
    object-fit: cover;
}
#band #img1{
    transform: rotateX(180deg) rotateY(180deg);
}
#chalo{
    width: 100%;
    height: 10vw;
}
/*PAGE 3*/
#page3{
    height: 100vh;
    width: 100%;
    position: relative;
}
#quote{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
    position: relative;
}
#page3 h3{
    width: 62%;
    font-size: 2.4vw;
    font-weight: 800;
    line-height: 2.7vw;
    text-align: center;
    color: #fff;
}
#page3 img{
    height: 5vw;
    width: 5vw;
    position: absolute;
}
#colon1{
    left: 13%;
    top: 13%;
}
#colon2{
    right: 13%;
    bottom: 13%;
}