*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
 
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: beige;
}
#nav{
    width: 100%;
    height: 80px;
    /* background-color: blueviolet; */
    display: flex;
    gap: 30px;
    padding: 0 80px;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;

}
#nav img{
    height: 75px;
    padding: 10px;
}
#nav h4{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.338);
}
#page1{
    width: 100%;
    height: 100vh; /*parent ka height nahi hai so we use 100vh*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    text-align: center;
    position: relative;
}
#page1 h1{
    text-transform: uppercase;
    font-size: 95px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "eat. drink. play." ;
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h4{
    text-transform: uppercase;
    font-weight: 900;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
#page1 h6{
    font-weight: 500;
    width: 26.5%;
    text-align: center;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.338);
}


